/*
!.config
!.doom.d
!.zshrc
# I don't need the asdf directory as you can install all from the tool-versions file.
!.tool-versions
!.gitignore
# my scripts
!.scripts
!01 Projects
01 Projects/*
!01 Projects/.gitkeep
!02 Areas
02 Areas/*
!02 Areas/.gitkeep
!03 Resources
03 Resources/*
!03 Resources/.gitkeep
!04 Archives
04 Archives/*
!04 Archives/.gitkeep
!Temp
Temp/*
!Temp/.gitkeep
